<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/14d6f7fc-e568-49d9-ac1c-250d0a37b0a0/resourceGroups/ApiRestPrueba/providers/Microsoft.ContainerRegistry/registries/ApiRestPrueba</ResourceId>
    <ResourceName>ApiRestPrueba</ResourceName>
    <ResourceGroup>ApiRestPrueba</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://apirestprueba.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>39606870-0cd5-4275-a51d-f7a91d6f9cf2</ProjectGuid>
  </PropertyGroup>
</Project>